<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4"><i class="fas fa-hamburger"></i> Devour a Burger!</h1>
            <p class="lead">Create your favorite burger and devour it!</p>
        </div>
    </div>

    <form class="create-form mb-2">

        <div class="form-group">
            <label for="newBurger">
                <h3> Add a burger: </h3>
            </label>
            <input type="text" id="newBurger" name="burger">
            <button type="submit" id="addBurger" class="btn btn-success">Add</button>
        </div>
        &nbsp;

    </form>

    <div class="row">
        <!-- Undevoured Burgers -->
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading m-2">
                    <h3>New Burgers</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}
                        <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                        <button type="button" class="eatburger btn btn-primary text-white" id="eatbutton"
                            data-id="{{this.id}}" data-newDevoured="{{devour}}">Devour
                        </button>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <!-- Devoured Burgers -->
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading m-2">
                    <h3>Devoured Burgers</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#if devoured}}
                        <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                        <button type="button" class="trashburger btn btn-danger text-white" id="trashbutton"
                            data-id="{{this.id}}" data-newDevoured="{{devour}}">Delete</button>
                        <hr>
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>